@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;

  font-size: 14px;
}

body {
  background-color: var(--color-brand-10);
}

a {
  text-decoration: none;
}

p,
a {
  color: var(--color-neutral-700);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-neutral-900);
}

h1 {
  font-size: clamp(36px, calc(2vw + 1rem), 64px);
}

h2 {
  font-size: clamp(24px, calc(1.66vw + 1rem), 50px);
}

h3 {
  font-size: clamp(20px, calc(0.8vw + 1rem), 42px);
}

h4 {
  font-size: clamp(18px, calc(0.8vw + 1rem), 36px);
}

h5 {
  font-size: clamp(17px, calc(0.5vw + 1rem), 24px);
}

h6 {
  font-size: clamp(16px, calc(0.4vw + 1rem), 20px);
}

span,
strong {
  font-size: inherit;
}
