@import "src/app/styles/mixins.scss";

.col-md {
  @include md {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;

    > * {
      width: 100%;
    }
  }
}

.opacity-50 {
  opacity: 50%;
}

.flex-items-center {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
