:root {
  --color-brand-900: #3949ab;
  --color-brand-800: #495cb5;
  --color-brand-700: #5b6ebe;
  --color-brand-600: #6d80c7;
  --color-brand-500: #8192d0;
  --color-brand-400: #94a4d8;
  --color-brand-300: #a9b6e1;
  --color-brand-200: #bec8e9;
  --color-brand-100: #d3daf0;
  --color-brand-50: #e9edf8;

  --color-neutral-900: #2f3034;
  --color-neutral-800: #414246;
  --color-neutral-700: #545458;
  --color-neutral-600: #67686b;
  --color-neutral-500: #7b7c7f;
  --color-neutral-400: #909093;
  --color-neutral-300: #a5a6a8;
  --color-neutral-200: #bbbbbd;
  --color-neutral-100: #d1d1d2;
  --color-neutral-50: #e8e8e9;
}
