@import "src/app/styles/mixins.scss";

.auth-layout {
  display: grid;
  height: 100vh;

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }

  &__right {
    background: var(--color-brand-900);
    display: none;

    @include md {
      display: grid;
      place-items: center;
    }

    > div {
      display: grid;
      place-items: center;
      grid-gap: 2em;

      * {
        color: var(--color-brand-50);
        text-align: center;
      }
    }
  }
}
