@import "src/app/styles/mixins.scss";

.auth-view {
  display: grid;
  height: 100vh;

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }

  &__left {
    display: grid;
    place-items: center;

    router-outlet {
      display: none;
    }

    form {
      padding: 1em;

      display: grid;
      grid-gap: 1em;

      width: 100vw;

      @include sm {
        min-width: 30em;
        width: 30em;
      }

      footer {
        margin-top: 1em;
        p {
          text-align: center;
          margin-top: 1em;

          a {
            font-weight: var(--font-weight-900);
            color: var(--color-brand-900);
            cursor: pointer;
          }
        }
      }
    }
  }

  &__right {
    background: var(--color-brand-900);
    display: none;

    @include md {
      display: grid;
      place-items: center;
    }

    > div {
      display: grid;
      place-items: center;
      grid-gap: 2em;

      * {
        color: var(--color-brand-50);
        text-align: center;
      }
    }
  }
}
