.home-component {
  display: grid;
  grid-gap: 2em;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;

    /* Logo */
    img {
      max-width: 25%;
      min-width: 14em;
    }
  }

  > section {
    display: grid;
    grid-gap: 2em;

    > header {
      > div {
        display: flex;
        align-items: center;
        gap: 0.4em;
      }
    }
  }
}
