@import "src/app/styles/mixins.scss";

.auth__view {
  display: grid;

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }

  height: 100vh;

  &--left {
    display: grid;
    place-items: center;

    form {
      padding: 1em;
      width: 100%;
      max-width: 34em;

      display: grid;
      grid-gap: 1em;

      @include md {
        min-width: 30em;
      }
    }
  }

  &--right {
    background: var(--color-brand-900);

    display: none;
    @include md {
      display: grid;
      place-items: center;
    }

    > div {
      display: grid;
      place-items: center;
      grid-gap: 2em;

      text-align: center;
      * {
        color: var(--color-brand-50);
      }
    }
  }
}
