.auth__view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  height: 100vh;

  &--left {
    display: grid;
    place-items: center;

    form {
      min-width: 30em;
      padding: 1em;

      display: grid;
      grid-gap: 1em;
    }
  }

  &--right {
    background: var(--color-brand-900);

    display: grid;
    place-items: center;

    > div {
      display: grid;
      place-items: center;
      grid-gap: 2em;

      text-align: center;
      * {
        color: var(--color-brand-50);
      }
    }
  }
}
