<section class="auth__view">
  <div class="auth__view--left">
    <form>
      <header>
        <h2>Welcome abroad!</h2>
        <p>Please tell us a litte bit about yourself.</p>
      </header>

      <section>
        <div>
          <app-input
            type="text"
            name="firstName"
            label="First Name"
            [required]="true"
            [formControl]="$any(form.get('firstName'))"
          ></app-input>

          <app-input
            type="text"
            name="lastName"
            label="Last Name"
            [required]="true"
            [formControl]="$any(form.get('lastName'))"
          ></app-input>
        </div>

        <app-input
          type="text"
          name="username"
          label="Username"
          [required]="true"
          [formControl]="$any(form.get('username'))"
        ></app-input>

        <app-input
          type="email"
          name="emailAddress"
          label="Email Address"
          [required]="true"
          [formControl]="$any(form.get('emailAddress'))"
        ></app-input>

        <app-input
          type="password"
          name="password"
          label="Password"
          [required]="true"
          [formControl]="$any(form.get('password'))"
        ></app-input>
      </section>
      <footer>
        <app-button
          type="submit"
          variant="primary"
          name="Sign Up"
          (buttonClick)="onSignup($event)"
        ></app-button>
      </footer>
    </form>
  </div>
  <div class="auth__view--right">
    <div>
      <img src="assets/images/auth-art.svg" alt="art" />
      <div>
        <h4><strong>Astronaut</strong>aking App</h4>
        <p>Effortless Note-Taking at Your Fingertips</p>
      </div>
    </div>
  </div>
</section>
