@import "src/app/styles/mixins.scss";

.notes {
  display: grid;
  grid-gap: 0.5em;

  h4 {
    margin-bottom: 0.4em;
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1em;

    @include sm {
    }
  }

  &__item {
    border-radius: var(--radius-5);
    background-color: var(--color-brand-50);
    transition: all 0.3s;
    padding: 1em;

    display: grid;
    grid-gap: 1em;

    > div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;

      p {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }

      p:last-child {
        margin-top: 0.8em;
      }
    }

    &:hover {
      cursor: pointer;
      background-color: var(--color-brand-100);
    }

    &:active {
      transform: scale(0.99);
    }
  }
}

.view-note {
  display: grid;
  grid-gap: 1em;

  width: 80vw;

  @include sm {
    min-width: 30em;
    max-width: 40em;
  }

  &__body {
    display: grid;
    grid-gap: 1em;
  }

  &__control {
    display: flex;
    align-items: center;
    gap: 1em;

    p,
    div {
      display: flex;
      align-items: center;
      gap: 0.4em;
    }
  }
}
