<ng-container *ngIf="notesService.notes().length > 0; else loading">
  <section class="notes">
    <h4>Personal Notes</h4>

    <!-- Notes Listing Component Start -->
    <div class="notes__lists">
      <div
        *ngFor="let _note of notesService.notes()"
        [ngValue]="_note"
        (click)="toggleViewNote(_note)"
      >
        <!-- Notes Item Start -->
        <div class="notes__item">
          <h6>
            {{ _note.title | truncate : 20 }}
          </h6>
          <div>
            <p>
              <i-tabler name="calendar" class="opacity-50" />
              <span>{{ _note.createdAt | date : "MM/dd/yyyy" }}</span>
            </p>
            <p>{{ _note.content | truncate : 100 }}</p>
          </div>
        </div>

        <!-- Notes Item End End -->
      </div>
    </div>
    <!-- Notes Listing Component End -->
  </section>
</ng-container>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>

<!-- Modal - View Note Component Start -->
<app-modal
  *ngIf="notesService.note?.id"
  title="My Note"
  [isOpen]="modalService.getModal(notesService.note.id + '_viewNote')"
  [name]="notesService.note.id + '_viewNote'"
>
  <div class="view-note">
    <h6>
      {{ notesService.note.title }}
    </h6>

    <div class="view-note__body">
      <div class="view-note__control">
        <p>
          <i-tabler name="calendar" class="opacity-50" />
          <span>{{ notesService.note.createdAt | date : "MM/dd/yyyy" }}</span>
        </p>
        |
        <div>
          <i-tabler
            name="edit"
            class="opacity-50 clickable"
            (click)="toggleUpdateNoteForm(notesService.note.id)"
          />
          <i-tabler
            name="trash"
            class="opacity-50 clickable"
            (click)="toggleRemoveNote(notesService.note.id)"
          />
        </div>
      </div>
      <p>{{ notesService.note.content }}</p>
    </div>
  </div>
</app-modal>
<!-- Modal - View Note Component End -->
