<!-- Modal - Update Note Component Start-->
<app-modal
  *ngIf="notesService.note?.id"
  title="Update Note"
  [isOpen]="modalService.getModal(notesService.note.id) + '_updateNote'"
  [name]="notesService.note.id + '_updateNote'"
>
  <!-- Create update note form -->
  <div class="form">
    <form
      [formGroup]="notesService.updateNoteForm"
      (ngSubmit)="notesService.updateNote($event, notesService.updateNoteForm)"
    >
      <header>
        <img src="assets/images/form-art.svg" alt="astronautaking logo" />
      </header>

      <section>
        <div class="flex-items-center">
          <i-tabler name="calendar" class="opacity-50" />
          <p>
            <!-- {{ notesService.updateNoteForm.get("createdAt").value | date : "dd/MM/yyyy" }} -->
          </p>
        </div>

        <app-input
          type="text"
          name="title"
          label="Title"
          [required]="true"
          [formGroup]="notesService.updateNoteForm"
          formControlName="title"
          (validationStatusChange)="
            notesService.onValidationStatusChange($event)
          "
          ngDefaultControl
        ></app-input>

        <app-input
          type="textarea"
          name="content"
          label="Note"
          [required]="true"
          [formGroup]="notesService.updateNoteForm"
          formControlName="content"
          (validationStatusChange)="
            notesService.onValidationStatusChange($event)
          "
          ngDefaultControl
        ></app-input>
      </section>
      <footer>
        <app-button
          type="submit"
          variant="primary"
          [name]="
            loaderService.getLoading(this) ? 'Updating...' : 'Update Note'
          "
          [isDisabled]="loaderService.getLoading(this)"
        ></app-button>
      </footer>
    </form>
  </div>
  <!-- Create update note form end -->
</app-modal>

<!-- Modal - Update Note Component End-->
