<!-- Textarea -->
<div *ngIf="type === 'textarea'" class="input__field">
  <label [for]="name">{{ label }}</label>
  <textarea
    [name]="name"
    [value]="value"
    [formControl]="formControl"
  ></textarea>
</div>

<!-- Text | Password | Email -->
<div
  *ngIf="type === 'text' || type === 'password' || type === 'email'"
  class="input__field"
>
  <label [for]="name">{{ label }}</label>
  <input
    [type]="type"
    [name]="name"
    [value]="value"
    [formControl]="formControl"
  />
  <ng-container *ngIf="displayErrors()" class="input__field--error">
    <p *ngIf="formControl.errors['required']">This field is required</p>

    <p *ngIf="formControl.errors['minLength']">
      This value has {{ formControl.errors["actualLength"] }} but must be at
      least {{ formControl.errors["requiredLength"] }}
    </p>
  </ng-container>
</div>
