<!-- New Note Modal -->
<app-modal
  title="New Note"
  [isOpen]="modalService.getModal('newNote')"
  name="newNote"
>
  <!-- Create new note form -->
  <div class="form">
    <form
      [formGroup]="newNoteForm"
      (ngSubmit)="createNewNote($event, newNoteForm)"
    >
      <header>
        <img src="assets/images/form-art.svg" alt="astronautaking logo" />
      </header>

      <section>
        <div class="flex-items-center">
          <i-tabler name="calendar" class="opacity-50" />
          <p>
            {{ newNoteForm.get("createdAt").value | date : "dd/MM/yyyy" }}
          </p>
        </div>

        <app-input
          type="text"
          name="title"
          label="Title"
          [required]="true"
          [formGroup]="newNoteForm"
          formControlName="title"
          (validationStatusChange)="onValidationStatusChange($event)"
          ngDefaultControl
        ></app-input>

        <app-input
          type="textarea"
          name="content"
          label="Note"
          [required]="true"
          [formGroup]="newNoteForm"
          formControlName="content"
          (validationStatusChange)="onValidationStatusChange($event)"
          ngDefaultControl
        ></app-input>
      </section>
      <footer>
        <app-button
          type="submit"
          variant="primary"
          [name]="
            loaderService.getLoading(this) ? 'Creating...' : 'Create Note'
          "
          [isDisabled]="isButtonDisabled || loaderService.getLoading(this)"
        ></app-button>
      </footer>
    </form>
  </div>
  <!-- Create new note form end -->
</app-modal>
<!-- View Modal End -->
