@import "src/app/styles/mixins.scss";

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  border-radius: var(--radius-5);
  background-color: var(--color-brand-50);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);

  &__header {
    padding: 0.5em 0 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px var(--color-neutral-100) solid;
  }

  &__body {
    max-height: 80vh;
    overflow-y: auto;

    form {
      width: 80vw; //override default view width value of form component [.form]
      padding: unset;

      @include sm {
        min-width: 30em;
        width: 30em;
      }
    }
  }
}
