<form
  [formGroup]="authService.signInForm"
  (ngSubmit)="authService.login($event)"
>
  <header>
    <h2>The Ultimate Note-Taking App</h2>
    <p>
      Log in to your Astronautaking account and continue your interstellar
      journey.
    </p>
  </header>

  <section>
    <app-input
      type="text"
      name="username"
      label="Username"
      [required]="true"
      [formGroup]="authService.signInForm"
      formControlName="username"
      (validationStatusChange)="authService.onValidationStatusChange($event)"
      ngDefaultControl
    ></app-input>

    <app-input
      type="password"
      name="password"
      label="Password"
      [required]="true"
      [formGroup]="authService.signInForm"
      formControlName="password"
      (validationStatusChange)="authService.onValidationStatusChange($event)"
      ngDefaultControl
    ></app-input>
  </section>
  <footer>
    <app-button
      type="submit"
      variant="primary"
      [name]="loaderService.getLoading('login') ? 'Logging In...' : 'Login'"
      [isDisabled]="
        authService.isButtonDisabled || loaderService.getLoading('login')
      "
    ></app-button>
    <p>Don't have an account yet? <a routerLink="/signup">Sign Up</a></p>
  </footer>
</form>
