<!-- Modal - Remove Note Component Start -->
<app-modal
  *ngIf="notesService.note?.id"
  title="Remove Note"
  [isOpen]="modalService.getModal(notesService.note.id + '_removeNote')"
  [name]="notesService.note.id + '_removeNote'"
>
  <div class="">
    <h6>Are you sure you want to delete?</h6>
    <p>
      {{ notesService.note.title }}
    </p>
  </div>

  <br />

  <app-button
    type="submit"
    variant="primary"
    (buttonClick)="notesService.removeNote(notesService.note.id)"
    [name]="loaderService.getLoading(this) ? 'Deleting...' : 'Delete Note'"
    [isDisabled]="loaderService.getLoading(this)"
  ></app-button>
</app-modal>
<!-- Modal - Remove Note Component End -->
