@import "src/app/styles/mixins.scss";

button {
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 0.6em 0.9em 0.6em 0.9em;
  border-radius: var(--radius-5);
  transition: background-color 0.3s;
  font-weight: var(--font-weight-500);
  background-color: var(--color-brand-900);

  *,
  i-tabler {
    color: var(--color-brand-50) !important;
    font-size: clamp(12px, calc(0.4vw + 0.6rem), 16px);
  }

  &.icon {
    display: flex;
    gap: 0.3em;
    align-items: center;
  }

  &:hover {
    background-color: var(--color-brand-700);
  }

  &:active {
    transform: scale(0.99);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:active {
      transform: unset;
    }
    &:hover {
      transition: unset;
      background-color: var(--color-brand-900);
    }
  }

  @include md {
    padding: 0.8em 1em 0.8em 1em;

    *,
    i-tabler {
      font-size: clamp(14px, calc(0.4vw + 0.6rem), 1rem);
    }
  }
}
