<main class="notes">
  <!-- Header Component -->
  <header class="notes__header">
    <img src="assets/logos/astronautaking-logo.svg" alt="astronautaking logo" />
    <i-tabler
      name="logout"
      class="clickable"
      (click)="authService.logout()"
      title="Logout"
    />
  </header>
  <!-- Header Component End -->

  <!-- Section Component -->
  <section class="notes__body">
    <!-- Header Component Start -->
    <header class="notes__header body-header">
      <div class="user">
        <div>
          <p>
            <span>👋 Welcome back, &nbsp;</span>
            <strong>{{ authService.user.firstName }}!</strong>
          </p>
        </div>
      </div>
      <app-button
        type="button"
        variant="primary"
        name="New Note"
        icon="plus"
        (buttonClick)="modalService.toggleModal('newNote', true)"
      />
    </header>
    <!-- Header Component End -->

    <!-- Features Components Start -->
    <app-notes-listing />
    <app-create-note />
    <app-update-note />
    <app-remove-note />
    <!-- Features Components End -->
  </section>
  <!-- Section Component End -->
</main>
