<form
  [formGroup]="authService.signUpForm"
  (ngSubmit)="authService.register($event)"
>
  <header>
    <h2>Welcome abroad!</h2>
    <p>
      Join the Astronautaking community and take your note-taking to the next
      level!
    </p>
  </header>

  <section>
    <div class="col-md">
      <app-input
        type="text"
        name="firstName"
        label="First Name"
        [required]="true"
        [formGroup]="authService.signUpForm"
        formControlName="firstName"
        (validationStatusChange)="authService.onValidationStatusChange($event)"
        ngDefaultControl
      ></app-input>

      <app-input
        type="text"
        name="lastName"
        label="Last Name"
        [required]="true"
        [formGroup]="authService.signUpForm"
        formControlName="lastName"
        (validationStatusChange)="authService.onValidationStatusChange($event)"
        ngDefaultControl
      ></app-input>
    </div>

    <app-input
      type="text"
      name="username"
      label="Username"
      [required]="true"
      [formGroup]="authService.signUpForm"
      formControlName="username"
      (validationStatusChange)="authService.onValidationStatusChange($event)"
      ngDefaultControl
    ></app-input>

    <app-input
      type="email"
      name="emailAddress"
      label="Email Address"
      [required]="true"
      [formGroup]="authService.signUpForm"
      formControlName="emailAddress"
      (validationStatusChange)="authService.onValidationStatusChange($event)"
      ngDefaultControl
    ></app-input>

    <app-input
      type="password"
      name="password"
      label="Password"
      [required]="true"
      [formGroup]="authService.signUpForm"
      formControlName="password"
      (validationStatusChange)="authService.onValidationStatusChange($event)"
      ngDefaultControl
    ></app-input>
  </section>
  <footer>
    <app-button
      type="submit"
      variant="primary"
      [name]="
        loaderService.getLoading('register') ? 'Signing Up...' : 'Sign Up'
      "
      [isDisabled]="
        authService.isButtonDisabled || loaderService.getLoading('register')
      "
    ></app-button>
    <p>Already have an account? <a routerLink="/signin">Sign In</a></p>
  </footer>
</form>
