<form [formGroup]="signinForm" (ngSubmit)="onSignin($event)">
  <header>
    <h2>Welcome abroad!</h2>
    <p>Please tell us a litte bit about yourself.</p>
  </header>

  <section>
    <app-input
      type="text"
      name="username"
      label="Username"
      [required]="true"
      [formGroup]="signinForm"
      formControlName="username"
      ngDefaultControl
    ></app-input>

    <app-input
      type="password"
      name="password"
      label="Password"
      [required]="true"
      [formGroup]="signinForm"
      formControlName="password"
      ngDefaultControl
    ></app-input>
  </section>
  <footer>
    <app-button type="submit" variant="primary" name="Login"></app-button>
    <p>Doesn't have an account? <a (click)="openPage('signup')">Register</a></p>
  </footer>
</form>
