<form [formGroup]="signInForm" (ngSubmit)="onSignIn($event)">
  <header>
    <h2>The Ultimate Note-Taking App</h2>
    <p>
      Log in to your Astronautaking account and continue your interstellar
      journey.
    </p>
  </header>

  <section>
    <app-input
      type="text"
      name="username"
      label="Username"
      [required]="true"
      [formGroup]="signInForm"
      formControlName="username"
      (validationStatusChange)="onValidationStatusChange($event)"
      ngDefaultControl
    ></app-input>

    <app-input
      type="password"
      name="password"
      label="Password"
      [required]="true"
      [formGroup]="signInForm"
      formControlName="password"
      (validationStatusChange)="onValidationStatusChange($event)"
      ngDefaultControl
    ></app-input>
  </section>
  <footer>
    <app-button
      type="submit"
      variant="primary"
      [name]="loaderService.getLoading() ? 'Logging In...' : 'Login'"
      [isDisabled]="isDisabled || loaderService.getLoading()"
    ></app-button>
    <p>
      Don't have an account yet? <a (click)="openPage('signup')">Sign Up</a>
    </p>
  </footer>
</form>
